<html>
    <head>
        <title>example</title>
    </head>
    <body>
        {{request}}
        <br> <br> <br> <br> <br> <br> <br> <br>
        {% for i in request %}
            {% for s in i %}
                {{s}} <br><br>
            {% endfor %}
            <br><br><br><br><br>
            ==========================================================================================================================================================
        {% endfor %}

        <br><br><br><br><br><br><br><br>

    {% for i in request %}
            
            <br><br><br><br><br>
            ==========================================================================================================================================================
        {% endfor %}

    </body>
</html>